#
# /boot/grub/grub.custom.cfg
#

################################################################################

# https://wiki.archlinux.org/title/GRUB#Configuration

#### BIOS/MBR
## https://wiki.archlinux.org/title/GRUB#Windows_installed_in_BIOS/MBR_mode
##
## filesystem UUID: lsblk -f -s

if [ "${grub_platform}" = "pc" ]; then
   menuentry "Microsoft Windows Vista/7/8/8.1/10 BIOS/MBR" {
      insmod part_msdos
      insmod ntfs
      insmod ntldr
      search --no-floppy --fs-uuid --set=root --hint-bios=hd0,msdos1 --hint-efi=hd0,msdos1 --hint-baremetal=ahci0,msdos1 # <filesystem_uuid>
      ntldr /bootmgr
   }
fi
################################################################################


#### UEFI/GPT
## https://wiki.archlinux.org/title/GRUB#Windows_installed_in_UEFI/GPT_mode
##
## $hints_string: grub-probe --target=hints_string esp/EFI/Microsoft/Boot/bootmgfw.efi
##      $fs_uuid: grub-probe --target=fs_uuid esp/EFI/Microsoft/Boot/bootmgfw.efi

if [ "${grub_platform}" == "efi" ]; then
   menuentry 'UEFI Firmware Settings' --id 'uefi-firmware' {
      fwsetup
   }

   menuentry "Microsoft Windows Vista/7/8/8.1 UEFI/GPT" {
      insmod part_gpt
      insmod fat
      insmod chain
      search --no-floppy --fs-uuid --set=root # <hints_string> <fs_uuid>
      chainloader /EFI/Microsoft/Boot/bootmgfw.efi
   }
fi
################################################################################


#### GRUB General Commands
# https://wiki.archlinux.org/title/GRUB#GRUB_commands
menuentry "System shutdown" {
   echo "System shutting down..."
   halt
}

menuentry "System restart" {
   echo "System rebooting..."
   reboot
}
